# ================================
# File Name: gitconfig
# Author: cissoid
# Created At: 2015-09-01T09:34:00+0800
# Last Modified: 2017-05-16T14:54:08+0800
# ================================

[core]
    editor = vim
    excludesFile = ~/.gitignore
[alias]
    br = branch
    st = status
    co = checkout
    ci = commit
    clone-github = "!f() { git clone https://github.com/$1 $2; }; f"
    config-user = "!f() { git config user.name $1; git config user.email $2; }; f"
    dsf = "!f() { git diff --color $@ | diff-so-fancy | less -RFX; }; f"
    glog = log --all --graph --pretty='%C(auto)%h %d %s (%C(cyan)%an%Creset, %Cgreen%ad%Creset)'
    refresh-all = "!f() {                                               \
            for folder in `ls`; do                                      \
                if [ -d $folder ] && [ -d $folder/.git ]; then          \
                    cd $folder;                                         \
                    branch=`git branch | grep -Po \"(?<=\\*).*(?=$)\"`; \
                    echo ====START $folder $branch====;                 \
                    git pull --prune --progress;                        \
                    git pull --progress origin $branch;                 \
                    git gc --prune;                                     \
                    echo ====END $folder $branch====;                   \
                    cd ..;                                              \
                fi;                                                     \
            done;                                                       \
        }; f"
    rewrite-author = "!f() {                                                                           \
            AUTHOR=$1;                                                                                 \
            AUTHOR_EMAIL=$2;                                                                           \
            for branch in `git branch -r | grep -Po \"(?<=origin/)([a-zA-Z0-9\\-_]*)(?=(\\s|$))\"`; do \
                if [ ! \"$branch\" == \"HEAD\" ]; then                                                 \
                    echo ====START $branch====;                                                        \
                    git checkout $branch;                                                              \
                    git pull origin $branch;                                                           \
                    git filter-branch -f --commit-filter \"                                            \
                        GIT_AUTHOR_NAME=$AUTHOR GIT_AUTHOR_EMAIL=$AUTHOR_EMAIL                         \
                        GIT_COMMITTER_NAME=$AUTHOR GIT_COMMITTER_EMAIL=$AUTHOR_EMAIL                   \
                        git commit-tree \\\"\\$@\\\"\";                                                \
                fi;                                                                                    \
            done;                                                                                      \
        }; f"
    ignore-global = "!f() {                                                                                               \
        GLOBAL_GITIGNORE=`eval echo \\`git config --global --get core.excludesfile\\``;                                   \
        LANGS=(                                                                                                           \
            Global/Dropbox                                                                                                \
            Global/Linux                                                                                                  \
            Global/Redis                                                                                                  \
            Global/Vim                                                                                                    \
            Global/VirtualEnv                                                                                             \
            Global/Windows                                                                                                \
            Global/macOS                                                                                                  \
            Autotools                                                                                                     \
            C++                                                                                                           \
            C                                                                                                             \
            CMake                                                                                                         \
            Go                                                                                                            \
            Python                                                                                                        \
        );                                                                                                                \
        echo \"# vim: foldmethod=marker\" > $GLOBAL_GITIGNORE;                                                            \
        for lang in ${LANGS[@]}; do                                                                                       \
            echo \"\" >> $GLOBAL_GITIGNORE;                                                                               \
            echo \"# $lang {{{\" >> $GLOBAL_GITIGNORE;                                                                    \
            echo \"\" >> $GLOBAL_GITIGNORE;                                                                               \
            wget -O - \"https://raw.githubusercontent.com/github/gitignore/master/$lang.gitignore\" >> $GLOBAL_GITIGNORE; \
            echo \"\" >> $GLOBAL_GITIGNORE;                                                                               \
            echo \"# }}}\" >> $GLOBAL_GITIGNORE;                                                                          \
        done;                                                                                                             \
    }; f"
[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    pager = true
    showBranch = auto
    status = auto
    ui = auto
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[grep]
    lineNumber = true
[log]
    date = "format:%F %T"
[user]
	useConfigOnly = true

# vim: filetype=gitconfig
