# Sublime Text ignore
sublime/Package Control.cache
sublime/Package Control.last-run
sublime/Package Control.*bundle
sublime/TabsExtra

# vim ignore
vim/bundle
vim/.vim/.netrwhist
vim/.vim/autoload/plug.vim.old
vim/.vim/view/
