# Sublime Text ignore
sublime/Package Control.cache
sublime/Package Control.last-run
sublime/Package Control.*bundle
sublime/TabsExtra

# vim ignore
vim/bundle
vim/.vim/.netrwhist
vim/.vim/autoload/plug.vim.old
vim/.vim/view/

# neovim ignore
neovim/.config/nvim/plugin
neovim/.local/share/nvim/

# idea ignore
idea/.idea/port
idea/.idea/port.lock
idea/.idea/*.key
idea/.idea/options/*.xml
!idea/.idea/options/editor.codeinsight.xml
!idea/.idea/options/editor.xml
!idea/.idea/options/keymap.xml
!idea/.idea/options/laf.xml
!idea/.idea/options/ui.lnf.xml
!idea/.idea/options/vim_settings.xml

# fish ignore
fish/.config/fish/completions/*
fish/.config/fish/functions/*
