[submodule "vim/themes/molokai"]
	path = vim/themes/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "vim/themes/solarized"]
	path = vim/themes/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
