[submodule "vim/themes/molokai"]
	path = vim/themes/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "vim/themes/solarized"]
	path = vim/themes/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
