/*
 * File Name: [:VIM_EVAL:]expand("%")[:END_EVAL:]
 * Author:
 * Created At: [:VIM_EVAL:]strftime("%Y-%m-%d %H:%M:%S")[:END_EVAL:]
 * Last Modified: [:VIM_EVAL:]strftime("%Y-%m-%d %H:%M:%S")[:END_EVAL:]
 */
#include <iostream>

int main(int argc, char **argv) {
    std::cout << "Hello World\n" << std::endl;
    return 0;
}
