# coding: utf-8
# File Name: [:VIM_EVAL:]expand('%:t')[:END_EVAL:]
# Author:
# Created At: [:VIM_EVAL:]strftime('%Y-%m-%d %H:%M:%S')[:END_EVAL:]
# Last Modified: [:VIM_EVAL:]strftime('%Y-%m-%d %H:%M:%S')[:END_EVAL:]
from __future__ import print_function


def main():
    print('Hello World')

if __name__ == '__main__':
    main()
